* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(248, 241, 241);
    font-family: 'Lato', sans-serif;
  }
  
  #page-wrapper {
    position: relative;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  